PORT=3000
DATABASE_URL=
JWT_SECRET=tu_secreto_seguro_aqui 
JWT_EXPIRES_IN=1d
RESTAURANTS_API_KEY=postgresql://postgres:postgres@db:5432/tyba_test?schema=public
RESTAURANTS_BASE_URL=https://api.geoapify.com/v2/places
GEOCODING_BASE_URL=https://api.geoapify.com/v1/geocode/search
HTTP_TIMEOUT_MS=8000
